# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Terraform plans
*.tfplan

# Python
__pycache__/
*.pyc

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Local environment / secrets
.env
.env.*
*.pem
*.key
*.cer
*.pfx

# Logs
*.log

# Extra Terraform crash logs
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
